.SideBar
  .LeftHeader
    .LeftHeader__list
      .LeftHeader__userName
        masa
      .LeftHeader__iconList
        = link_to "#", class: "LeftHeader__btn" do
          =icon('far', 'edit', class: 'LeftHeader__btn--icon')
        = link_to "#", class: "LeftHeader__btn" do
          =icon('fas', 'cog')
  .GroupList
    .Group
      .Group__name
        techcamp
      .Group__message
        まだメッセージがありません
    .Group
      .Group__name
        techcamp
      .Group__message
        まだメッセージがありません
    .Group
      .Group__name
        techcamp
      .Group__message
        まだメッセージがありません
    .Group
      .Group__name
        techcamp
      .Group__message
        まだメッセージがありません
    .Group
      .Group__name
        techcamp
      .Group__message
        まだメッセージがありません